@import 'common.css';

table tr {
  padding: 0 0.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

table tr.indexhead {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

table tr .indexcolname {
  width: 60%;            /* Zmieniamy z 500px na 150px zgodnie z prośbą */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table tr .indexcolname a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;         /* Nie wyjdzie poza 150px komórki */
}

table tr .indexcollastmod {
  width: 17%;
  padding: 0.5rem;
  font-size: 0.875rem;
  overflow: hidden;    /* Zabezpieczenie przed nakładaniem tekstu */
  text-overflow: clip;
}

table tr .indexcolsize {
  width: 10%;
  text-align: right;
  padding: 0.5rem;
  font-size: 0.875rem;
}

table tr .indexcoldesc {
  width: 13%;
  text-align: right;
  padding: 0.5rem;
  font-size: 0.875rem;
}

table tr .indexcolicon {
  width: 2rem;
  text-align: center;
}

table tr.indexhead,
table tr.indexhead:hover {
  background-color: transparent;
}

table tr.indexhead a {
  font-weight: normal;
  font-size: 0.875rem;
}

table tr .indexcolname a,
table tr .indexcollastmod a,
table tr .indexcolsize a {
  border-bottom: 1px solid transparent;
}

table tr .indexcolname a:hover,
table tr .indexcollastmod a:hover,
table tr .indexcolsize a:hover {
  border-bottom: 1px solid currentColor;
}

table tr.even-parentdir a {
  font-weight: 500;
}

table tr .indexcollastmod,
table tr .indexcolsize {
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
}

table th,
table td {
  padding: 0.375rem;
}

table tr .indexcolsize {
  text-align: right;
}